/*
Skin Name: Nivo Slider Default Theme
Skin URI: http://nivo.dev7studios.com
Description: The default skin for the Nivo Slider.
Version: 1.3
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
Supports Thumbs: true
*/

.theme-default .nivoSlider {
	position:relative;
	background:#fff url(loading.gif) no-repeat 50% 50%;
	
}
.theme-default .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
	height:auto;
}
.theme-default .nivoSlider a {
	border:0;
	display:block;
}

.theme-default .nivo-controlNav {
	text-align: center;
	padding: 20px 0 0 0;
}
.theme-default .nivo-controlNav a {
	display:inline-block;
	width:10px;
	height:10px;
	text-indent:-9999px;
	border:solid 1px #ccc;
	margin: 0 3px;
	background:#fff;
	border-radius:100%;
}

.theme-default .nivo-controlNav a.active{background:#eee;}

.theme-default .nivo-directionNav a {
	display:block;
	width:40px;
	height:40px;
	text-align:center;
	opacity: 0;
	line-height:40px;
	font-size:18px;
	background:#fff;
	border-radius:100%;	
	-webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.theme-default:hover .nivo-directionNav a { opacity: .6; }
.theme-default:hover .nivo-directionNav a:hover { opacity: 1; }
.theme-default a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
}
.theme-default a.nivo-prevNav {
	left:15px;
}

.theme-default .nivo-caption {
    font-size:20px;
	padding:20px;
	text-align:center;
}
.theme-default .nivo-caption a {
    color:#fff;
    border-bottom:1px dotted #fff;
}
.theme-default .nivo-caption a:hover {
    color:#fff;
}

.theme-default .nivo-controlNav.nivo-thumbs-enabled {
	width: 100%;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled a {
	width: auto;
	height: auto;
	background: none;
	margin-bottom: 5px;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled img {
	display: block;
	width: 120px;
	height: auto;
}

.nivo-boxed{
	margin:30px auto;
	}

#layout.boxed .nivo-boxed,#layout.boxed-margin .nivo-boxed{
	margin:40px auto;
	}	
.nivo-boxed .nivo-lightshadow{
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,.3);
	-o-box-shadow: 0 0 5px rgba(0,0,0,.3);
	box-shadow: 0 0 5px rgba(0,0,0,.3);
	}
.nivo-boxed .nivo-mediumshadow{
	-webkit-box-shadow: 0 0 6px rgba(0,0,0,.5);
	-moz-box-shadow: 0 0 6px rgba(0,0,0,.5);
	-o-box-shadow: 0 0 6px rgba(0,0,0,.5);
	box-shadow: 0 0 6px rgba(0,0,0,.5);
	}
.nivo-boxed .nivo-hardshadow{
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.8);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,.8);
	-o-box-shadow: 0 0 10px rgba(0,0,0,.8);
	box-shadow: 0 0 10px rgba(0,0,0,.8);
	}