.bizpro-shop h1.page-title{display:none !important}

.bizpro-shop h3 small{
	color:#999;
    font-weight:normal;
	font-size:13px;
	padding-left:10px;
	}
	
	
.woo-title { position:relative }
.woo-title .filter_wrapper {
	position:absolute;
	top:0;
	right:7px;
	font-size:12px;
}
.woo-title .filter_wrapper .woocommerce-ordering, .pa_selection {
	border:1px solid #E2E2E2;
	outline:none;
	-webkit-transition:all 0.2s ease;
	transition:all 0.2s ease;
	position:relative;
}
.pa_selection, .pa_selection select {
	width:100%;
}
.review i {
	color:#FCE120;
	font-size:14px;
}
.woo-title .filter_wrapper .woocommerce-ordering:hover, .pa_selection:hover { background:#F5F5F5; border:1px solid #CFCFCF }
.woo-title .filter_wrapper select, .pa_selection select {
	background:rgba(0, 0, 0, 0);
	height:30px;
	margin:0;
	border:0;
	padding:5px;
	-webkit-appearance:none;
	outline:none;
	color:#777
}

ul.cart_list li img,
ul.product_list_widget li img {
    margin-right:12px;
    width:46px !important;
	height:auto;
	float:left !important;
	border-radius:5px;
}	

.woocommerce ul.cart_list li img,
.woocommerce ul.product_list_widget li img{
	float:left !important;
	height:auto;
	}
	
.woocommerce .widget_top_rated_products ul.product_list_widget li img {
    width:45px !important;
}	
	
	
.woocommerce .star-rating{
	font-size:10px !important;
	}	
	

.product-categories li a:before{
	font-family:FontAwesome;
	content:"\f0da";
	margin-right:5px;
	}
.product-categories ul.children {
    padding-left:30px;
}	
	

.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce .ui-widget-header {
    background:#aaa !important;
	box-shadow: none !important;
}

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content{
	background:#ccc !important;
	margin-left:0 !important;
	}
.woocommerce .ui-widget-content {
    border:1px solid #E7E7E7;
}	

.woocommerce .ui-slider .ui-slider-handle {
    background:none repeat scroll 0 0 #717171 !important;
    border:1px solid #CCCCCC !important;
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.3), 0 0 0 3px inset;	
}

.woocommerce span.onsale,.woocommerce-page span.onsale{
	left:-40px !important;
    margin:0 !important;
    right:auto !important;
    top:-20px !important;
    padding:30px 30px 5px !important;
	line-height:24px !important;
	min-height:0 !important;
	border-radius:0 !important;
	transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
	z-index:1;
	border-radius:100% !important;
	
	}
	
.woocommerce .products a.add_to_cart_button{
	display:inline !important;
	}	
.woocommerce .products li:hover a.add_to_cart_button{
	display:block
	}
	
.woocommerce .products .star-rating{
	color:#ccc !important;
	float:none !important;
	position:relative !important;
	margin:3px auto 5px !important;
	}	
	
	
.woocommerce .products li:hover .star-rating{
	display:block;
	}	

.woocommerce ul.products li.product h3	{
	font-size:16px !important;
	padding:3px 0 8px !important;
	text-align:center;
	border-bottom: 1px solid #ddd;
    margin: 0 0 9px !important;
	}	
	
.woocommerce .widget_shopping_cart .total{
	border: 1px solid #ebe9eb !important;
    border-radius: 20px;
    padding: 4px 13px !important;
	margin-bottom:15px;
	}	
	
	
.woocommerce #content input.button,
.woocommerce #respond input#submit,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #content .quantity .minus,
.woocommerce #content .quantity .plus,
.woocommerce .quantity .minus,
.woocommerce .quantity .plus{
	border:none !important;
	text-shadow:none !important;
	color:#FFF !important;
	color:rgba(255, 255, 255, 0.8) !important;
	padding:7px 12px !important;
	opacity:.85;
	}

.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button{
	border-radius:15px !important;
	padding: 10px 20px !important;
	margin:0 2px !important; 
	}
.woocommerce #content input.button:hover,
.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce #content .quantity .minus:hover,
.woocommerce #content .quantity .plus:hover,
.woocommerce .quantity .minus:hover,
.woocommerce .quantity .plus:hover{
	color:#fff !important;
	opacity:1;
	}

.woocommerce #content .quantity .minus,
.woocommerce #content .quantity .plus,
.woocommerce .quantity .minus,
.woocommerce .quantity .plus{
	padding:0 !important;
	background:#999 !important;
	}
		
	
.woocommerce #content .quantity input.qty,
.woocommerce .quantity input.qty{
	border: 1px solid #ccc;
    height: 23px;
    padding: 3px 10px;
    width: 55px !important;
	border-radius:20px;
	}

.woocommerce #content div.product,
.woocommerce div.product{
	overflow:hidden;
	}

.woocommerce div.product p.price,
.woocommerce div.product span.price,
.woocommerce ul.products li.product .price span{
	color:#777 !important; 
	font-weight:700 !important;
	font-size: 14px;
	}	

.woocommerce .summary .price del span{
	font-size: 12px !important;
	}	
.woocommerce .summary .price ins{
	font-size: 16px !important;
	text-decoration:none !important;
	}			
.woocommerce ul.products li.product .price del{
	color:#999 !important; 
	font-size:12px;
	font-weight:400 !important;
	width:50%;
	float:left;
	text-decoration: line-through;
	}	

.woocommerce ul.products li.product .price del span{
	font-size:11px;
	font-weight:400 !important;
	}
	
.woocommerce ul.products li.product .price ins,
.woocommerce ul.products li.product .price ins span{
	color:#777 !important;
	text-decoration:none !important;
	font-size: 14px;
	}	

.woocommerce .price_slider_amount .button{
	float:right !important;
	margin-top:5px;
	}
.woocommerce .price_label{
	float:left;
	margin:4px;
	}	
.woocommerce .price_label .from,
.woocommerce .price_label .to	{
	color:#191919;
	font-weight:700;
	font-size:12px;
	} 
	
.woocommerce table.cart a.remove{
	color:#191919 !important;
	}
	
.woocommerce table.cart a.remove:hover{
	color:#FC0000 !important;
	background:none !important;
	}

.woocommerce table.shop_table{
	border-radius:15px !important;
	}

.woocommerce table.shop_table td{
	padding:10px 12px !important;
	border:none !important;
	border-top:solid 1px #ddd !important;
	}
.woocommerce table.shop_table th{
	border:none !important;
	background:#f5f5f5 !important;
	}
	
.woocommerce table.shop_table tbody:first-child tr:first-child td,
.woocommerce table.shop_table tbody:first-child tr:first-child th{
	border-top:none !important;
	}
	
.woocommerce table.shop_table tr{
	background:none !important;
	}	
.woocommerce table.cart td.actions .coupon .input-text{
	margin:0 8px 0 0 !important;
	width:140px !important;
	padding:7px 6px !important;
	box-shadow:none !important;
	}

.woocommerce .cart-collaterals .cart_totals {
    border:1px solid #DDD !important;
    padding:20px;
    width:44% !important;
	margin-bottom:20px;
	border-radius:15px;
}




.cart_totals h2,
.shipping_calculator h2,
.cross-sells h2 {
    font-size:22px;
}
.cross-sells h2 {
	text-align:left;
}


.woocommerce form .form-row select,
.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea {
    border:1px solid #CCC;
    padding:10px;
	border-radius:15px;
}

.woocommerce .shipping-calculator-form p {text-align:right !important}
.woocommerce .cart-collaterals .shipping_calculator .button{width:auto !important;display:inline-block !important}



.woocommerce form.checkout .form-row select,
.woocommerce form.checkout .form-row input.input-text,
.woocommerce form.checkout .form-row textarea {
	width:100% !important;
	border-radius:20px;
}

.woocommerce p.woocommerce-error,
.woocommerce p.woocommerce-info,
.woocommerce p.woocommerce-message,
.woocommerce ul.woocommerce-error,
.woocommerce ul.woocommerce-info,
.woocommerce ul.woocommerce-message,
.woocommerce div.woocommerce-error,
.woocommerce div.woocommerce-info,
.woocommerce div.woocommerce-message{
	background:none !important;
	border:solid 1px #ccc !important;
	box-shadow:none !important;
	padding:15px 12px 15px 50px !important;
	border-radius: 15px;
	}

.woocommerce p.woocommerce-error:before,
.woocommerce p.woocommerce-info:before,
.woocommerce p.woocommerce-message:before,
.woocommerce ul.woocommerce-error:before,
.woocommerce ul.woocommerce-info:before,
.woocommerce ul.woocommerce-message:before,
.woocommerce div.woocommerce-error:before,
.woocommerce div.woocommerce-info:before,
.woocommerce div.woocommerce-message:before{
	padding:5px !important;
    top:10px !important;
	}

.woocommerce form.checkout h3{
	font-size:18px !important;
	}


.woocommerce #customer_details{
	margin-bottom:25px;
	}


.woocommerce #payment {
    background:none !important;
    border:1px solid #DDDDDD;
}

.woocommerce #payment ul.payment_methods li img{display:inline}

.woocommerce #payment div.payment_box{box-shadow:none !important}



.woocommerce p.myaccount_user{
	border:1px solid #DDD;
    padding:20px;
	}




.woocommerce .col2-set .col-1,
.woocommerce .col2-set .col-2{
    border:1px solid #DDD;
    padding:10px;
    width:47% !important;
	border-radius:15px;
}


.woocommerce .addresses .title .edit {
    background:#777777;
    color:#DDD;
    padding:2px 12px;
	border-radius:15px
}

.woocommerce .addresses .title .edit:hover {
    background:#191919;
    color:#FFF;
}



.woocommerce a.button.added:after,
.woocommerce button.button.added:after,
.woocommerce input.button.added:after {
	content:"" !important;
	margin-left:0 !important;
	}


.woocommerce a.button.added,
.woocommerce button.button.added,
.woocommerce input.button.added {
	padding-right:8px !important;
	}

.woocommerce #respond input#submit.loading:after,
.woocommerce a.button.loading:after,
.woocommerce button.button.loading:after,
.woocommerce input.button.loading:after{
	content:"" !important;
	}
	
.woocommerce #respond input#submit.loading i.fa-cart-plus:before,
.woocommerce a.button.loading i.fa-cart-plus:before,
.woocommerce button.button.loading i.fa-cart-plus:before,
.woocommerce input.button.loading i.fa-cart-plus:before{
	content:"\f110";
	animation-name:spin;
	animation-duration:2s;
	animation-iteration-count:infinite;
	position:relative;
	}	

.woocommerce #respond input#submit.loading,
.woocommerce a.button.loading,
.woocommerce button.button.loading,
.woocommerce input.button.loading{
	padding: 12px 15px !important;
	opacity:.5 !important;
	}
	
.woocommerce a.added_to_cart {
    bottom: -55px;
    font-size: 11px;
    padding: 4px 28px !important;
    position: absolute;
    right: 24%;
}

.woocommerce div.product form.cart{
	margin-top:20px;
	}



.woocommerce ul.products li.product .price {
    padding:2px;
    text-align:center;
	margin:0;
}


.woocommerce .related ul li.product,
.woocommerce .related ul.products li.product,
.woocommerce .upsells.products ul li.product,
.woocommerce .upsells.products ul.products li.product{
	width:21.5% !important;
	}

.woocommerce #reviews h3{
	font-size:18px;
	}


.woocommerce div.product form.cart .variations select{
	padding:6px;
	border:solid 1px #ccc;
	}

.woocommerce div.product form.cart .single_add_to_cart_button{
	padding:8px 12px !important;
	}


.woocommerce .single_variation{
	margin:15px 0;
	}

.woocommerce div.product form.cart .variations label{
	line-height:2.5;
	}


.woocommerce ul.product_list_widget li dl{
	border-left:0 !important;
    float:left;
    font-size:10px;
    margin-right:10px !important;
    padding-left:0 !important;
	}


.woocommerce ul.products li.product a img,
.woocommerce ul.products li.product .price{
	box-shadow:none !important;
	}

.woocommerce ul.products li.product{
	overflow:hidden;
	}

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product{
	background:#fff;
	}

.woocommerce-page ul.products.pr_4_col li.product,.woocommerce.columns-4 ul.products li.product{
	width:21.8% !important;
	}
	
.woocommerce-page ul.products.pr_3_col li.product,.woocommerce.columns-3 ul.products li.product{
	width:30.5% !important;
	}


.woocommerce-page ul.products.pr_2_col li.product,.woocommerce.columns-2 ul.products li.product{
	width:47.7% !important;
	}

.woocommerce-page ul.products.pr_1_col li.product,.woocommerce.columns-1 ul.products li.product{
	width:99.7% !important;
	}

	
.woocommerce .shop-links{
	float:none;
    margin:auto;
	}

.woocommerce .shop-links a{
	border: 1px solid #ccc;
    margin-right: 5px;
	padding: 9px 15px;
	background:#fff;
	border-radius:25px;
	}
.woocommerce .shop-links a.all-products-icon{
	padding:15px;

	}
.woocommerce .shop-links a span{
    padding: 12px 0 0 2px;
	}
.woocommerce .shop-links a:hover{
	border: 1px solid #333;
	}
	
.woocommerce .shop-links i{}

.widget_product_search{}
.widget_product_search form{position:relative}
.widget_product_search label{display:none}
.widget_product_search input[type="text"]{
    border:1px solid #CCC;
    box-sizing:border-box;
    color:#A7A7A7;
    cursor:text;
    font-size:11px;
    height:34px;
    line-height:24px;
    margin:0;
    padding:0 10px;
    transition:all 0.2s ease 0s;
    width:100%;
	border-radius:10px;
	}
.widget_product_search input[type="text"]:focus{
	border:solid 1px #999;
	color:#777;
	}
.widget_product_search input[type="submit"]{
	color:#ccc;
	background:none;
    border:0 none;
    cursor:pointer;
    font-size:11px;
    position:absolute;
    right:10px;
    top:10px;
	font-family:"FontAwesome";
    transition:all 0.2s ease 0s;
	
	}
.widget_product_search input[type="submit"]:hover{
	color:#777;
	}


.woocommerce #content div.product div.images img,
.woocommerce div.product div.images img {
    border: 1px solid #CCCCCC;
    box-shadow:none !important;
	border-radius:15px;
}


.woocommerce div.product div.thumbnails a{
	margin-bottom:3.8%;
	}


.woocommerce .widget_layered_nav_filters ul li a{
	background:#191919 !important;
	border:none !important;
	margin: 0 3px;
    padding:4px 10px !important;
	}


.woocommerce dl.customer_details{
	border: 1px solid #DDD;
    margin: 10px 0 25px;
    padding: 10px 15px;
	}

.woocommerce dl.customer_details dt{
	float: left;
    margin-right: 5px;
	}

.woocommerce dl.customer_details dd{
	font-weight: 700;
    margin: 0 0 5px;
	}


.widget.woocommerce li a{
	border-bottom:none;
	}
.widget.woocommerce .product_list_widget li a:before{content:"";}

.widget.woocommerce li{
	padding:0;
	}

.woocommerce ul.cart_list li,
.woocommerce ul.product_list_widget li{
	padding:10px 0 !important;
	border-bottom:solid 1px #eee;
	}
.woocommerce ul.cart_list li:last-child,
.woocommerce ul.product_list_widget li:last-child{
	border-bottom:none;
	}
.woocommerce .widget_shopping_cart .cart_list li a.remove,
.woocommerce.widget_shopping_cart .cart_list li a.remove{
	right: 0;
    top: 10px !important;
	left:auto !important;
	color:#ccc !important;
	font-weight: 400;
    line-height: 20px;
	}

.woocommerce .widget_shopping_cart .cart_list li a.remove:hover,
.woocommerce.widget_shopping_cart .cart_list li a.remove:hover{
	color:#fff !important;
	}

.woocommerce ul.products li.product .button{
	margin-top:0 !important
	}

.woocommerce .shipping-calculator-form .button{margin: 5px;}


.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
    display: inline-block !important;
    float:right;
	padding:10px 15px !important;
}

.checkout table.shop_table tfoot th,
.checkout .woocommerce table.shop_table tfoot th {
    padding: 10px 0 0 12px !important;
}

.select2-container .select2-choice {
    padding: 4px 0 4px 8px !important;
}


.woocommerce-account .page-content{
	margin-bottom:70px;
	}

.woocommerce-cart .cart-collaterals .cart_totals table{width:100%}


.woocommerce .widget_layered_nav ul li.chosen a:before,
.woocommerce .widget_layered_nav_filters ul li a:before{
	color:#fff !important;
	padding: 0 7px 0 0;
	}
.woocommerce .widget_layered_nav_filters ul li a{
	color:#fff !important;
    padding: 6px 11px !important;
	}


figure .hover_icons a,.woocommerce ul.products li.product .button {
	margin:0 10px;
	color:#fff;
	-webkit-transition:all 0.2;
	transition:all 0.2s;
	padding: 10px 17px;
	background:#666 !important;
	display:inline-block !important;
	border-radius:100px !important;
}

.woocommerce ul.products li.product .button.loading{display:inline !important;}

.woocommerce ul.products li.product .button {padding: 15px 16px !important;}
figure .hover_icons a:hover,.woocommerce ul.products li.product .button:hover {
	transform:scale(1.15,1.15) !important;
	}
figure .hover_icons a i {
	color:#fff;
	}
figure .hover_icons {
    opacity: 0;
    position: absolute;
    top: 46.5%;
    transition:all 0.35s ease 0s;
    width: 100%;
}

figure:hover .hover_icons{
	opacity:1;
}

.woocommerce div.product form.cart div.quantity {
    margin: 0 10px 0 0 !important;
}

.woocommerce div.product form.cart .button,
.woocommerce #review_form #respond .form-submit input,
.woocommerce .cart .button, .woocommerce .cart input.button,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
.select2-container .select2-choice,.woocommerce #payment #place_order, .woocommerce-page #payment #place_order{
	border-radius:30px !important;
	}
.woocommerce-checkout #payment{
	border-radius:15px !important;
	}	
.woocommerce-checkout #payment {
    margin-bottom: 40px;
}

.woocommerce-order-received .woocommerce{margin-bottom:50px}
.woocommerce header{box-shadow:none}

.woocommerce-account .woocommerce-MyAccount-navigation{
	border: 1px solid #ddd;
	border-radius:15px;
	}
.woocommerce-account .woocommerce-MyAccount-navigation ul{
	font-size: 14px;
    font-weight: 700;
    list-style: outside none none;
	padding:15px 15px 5px;
	margin-bottom: 10px;
	}
.woocommerce-account .woocommerce-MyAccount-navigation ul li{
	padding: 2px 10px;
	margin-bottom:10px;
	border: 1px solid #fff;
	border-radius:15px;
	}
	
	
.woocommerce-account .woocommerce-MyAccount-navigation ul li a{
	display:block;
	}
.woocommerce-account .woocommerce-MyAccount-navigation ul li a:hover{}


.woocommerce-account .woocommerce-MyAccount-navigation ul li.is-active a:hover{}

.woocommerce-account .woocommerce-MyAccount-navigation ul li:hover{
	border: 1px solid #ddd;
	}
.woocommerce-account .woocommerce-MyAccount-navigation ul li:hover a{
	
	}

.woocommerce-account .woocommerce-MyAccount-navigation ul li.is-active{
	background:#000;
	border-color:#000;
	border: 1px solid #000;

	}
.woocommerce-account .woocommerce-MyAccount-navigation ul li.is-active a{
	color:#fff;
	}
.woocommerce-account .woocommerce-MyAccount-content input.button{
	border-radius:15px;
	float:right;
	margin-top:20px !important;
	}
.woocommerce-account .woocommerce-MyAccount-content{

	}

.woocommerce-account .woocommerce-MyAccount-content p{

	}
	


.woocommerce nav.woocommerce-pagination ul{
	border:none !important;
	}

.woocommerce nav.woocommerce-pagination ul li{
	border:solid 1px #ccc;
	margin:0 5px !important;
	border-radius:50px;
	}
	
.woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span{padding:15px !important;}

.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current{
	background:#f5f5f5 !important;
	color:#333 !important;
	}

.woo-title .filter_wrapper .woocommerce-ordering{
	border-radius: 20px;
    padding: 1px;
	}
	
	
#add_payment_method table.cart td.actions .coupon .input-text,
.woocommerce-cart table.cart td.actions .coupon .input-text,
.woocommerce-checkout table.cart td.actions .coupon .input-text{
	border-radius:20px;
	}
	
.woocommerce form .form-row label {
    margin: 5px;
}	
	
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt{
	opacity:.8;
	}
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover{
	opacity:1;
	}	
	
.single-product.woocommerce div.product {
    border-radius: 15px 0 0;
}
	
.woocommerce div.product div.images div.thumbnails {
    padding-top: 15px !important;
}	
	
	
	
	
	
	
	
	